<blockquote class="layui-elem-quote layui-text">
    {{ .Service.Name }}
</blockquote>
{{ range $i, $v := .RequestItems }}
<div class="layui-collapse">
    <div class="layui-colla-item">
        <div class="layui-colla-title">
            请求 {{ add $i 1 }}: {{ $v.SDta }}.{{ $v.SSvc }}.{{ $v.SFmt }} -> {{ $v.DDta }}.{{ $v.DSvc }}.{{ $v.DFmt }}
        </div>
        <div class="layui-colla-content layui-show">
            <table class="layui-table">
                <colgroup>
                    <col span="1" style="width: 10%;">
                    <col span="3" style="width: 30%;">
                </colgroup>
                <thead><th class="col1">序号</th><th>消费方标签</th><th>数据元素</th><th>服务方标签</th></thead>
                <tbody>
                {{ range $j, $it := $v.Items }}
                <tr><td>{{ add $j 1 }}</td><td>{{ $it.SvrTag }}</td><td>{{ $it.Elem }}</td><td>{{ $it.CltTag }}</td></tr>
                {{ end }}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{ end }}

{{ range $i, $v := .ResponseItems }}
<div class="layui-collapse">
    <div class="layui-colla-item">
        <div class="layui-colla-title">
            响应 {{ add $i 1 }}: {{ $v.SDta }}.{{ $v.SSvc }}.{{ $v.SFmt }} <- {{ $v.DDta }}.{{ $v.DSvc }}.{{ $v.DFmt }}
        </div>
        <div class="layui-colla-content layui-show">
            <table class="layui-table">
                <colgroup>
                    <col span="1" style="width: 10%;">
                    <col span="3" style="width: 30%;">
                </colgroup>
                <thead><th>序号</th><th>消费方标签</th><th>数据元素</th><th>服务方标签</th></thead>
                <tbody>
                {{ range $j, $it := $v.Items }}
                <tr><td>{{ add $j 1 }}</td><td>{{ $it.SvrTag }}</td><td>{{ $it.Elem }}</td><td>{{ $it.CltTag }}</td></tr>
                {{ end }}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{ end }}