<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>交换平台报文字段映射查看工具</title>
    <link rel="stylesheet" href="static/layui/css/layui.css">
    <link rel="stylesheet" href="static/mermaid/mermaid.min.css">
</head>
<body>
<div class="layui-layout">
    <div class="layui-side">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item layui-nav-itemed">
                    <dl class="layui-nav-child" id="dtaPortsNav">
                        {{ range . }}
                        <dd>{{ .Name }}:{{ .Port }}</dd>
                        {{ end }}
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <div class="layui-body">
        <div style="padding: 15px;">
            <div id="codes"></div>
            <div id="detail"></div>
        </div>
    </div>
    <div class="layui-footer">
    </div>
</div>
<style>
    dd{
        padding-left: 20px;
        cursor: pointer;
    }
    #codes span{
        margin: 5px;
        cursor: pointer;
    }
    span.ala{
        font-style: italic;
    }
    .layui-table {
        table-layout: fixed;
        width: 1000px;
    }
    .layui-body{
        width: 85%;
    }
</style>
<script src="static/layui/layui.js"></script>
<script src="static/axios/axios.min.js"></script>
<script>
    let DTA = '';
    document.getElementById('dtaPortsNav').addEventListener('click', function(event) {
        if (event.target.tagName !== 'DD') {
            return;
        }
        document.getElementById('codes').innerHTML = '';
        document.getElementById('detail').innerHTML = '';
        let dtaPort = event.target.textContent;
        let dtaName = dtaPort.split(":")[0].trim();
        axios.get('http://28.4.199.2:8080/codes/'+dtaName).then((response) => {
            document.getElementById('codes').innerHTML = response.data;
            rerender();
        })
            .catch(error => {
                console.error('Error fetching data: ', error);
            });
        DTA = dtaName;
    });
    document.getElementById('codes').addEventListener('click', function(event) {
        if (event.target.tagName !== 'SPAN') {
            return;
        }
        document.getElementById('detail').innerHTML = '';
        let code = event.target.textContent;
        axios.get('http://28.4.199.2:8080/detail/'+DTA+'/'+code).then((response) => {
            document.getElementById('detail').innerHTML = response.data;
            rerender();
        })
            .catch(error => {
                console.error('Error fetching data: ', error);
            });
    });
    const rerender = () => {
        layui.use(['element', 'table'], function () {
            layui.element.render();
            layui.table.render();
        });
    }
</script>
</body>
</html>